{{- if .Values.rbac.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "pot.fullname" . }}-manager
  labels:
    {{- include "pot.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - datasance.com
    resources:
      - applications
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - datasance.com
    resources:
      - applications/finalizers
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - datasance.com
    resources:
      - applications/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - datasance.com
    resources:
      - apps
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - datasance.com
    resources:
      - apps/finalizers
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - datasance.com
    resources:
      - apps/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - datasance.com
    resources:
      - controlplanes
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - datasance.com
    resources:
      - controlplanes/finalizers
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - datasance.com
    resources:
      - controlplanes/status
    verbs:
      - get
      - patch
      - update
{{- end }}

